/*==================================================
	Fonts :
		Cairo
	Coolors :
		#CB997E Antique Brass
		#DDBEA9 Desert Sand
		#FFE8D6 Champagne Pink
		#B7B7A4 Ash Gray
		#A5A58D Artichoke
		#6B705C Ebony
==================================================*/
/* Get Raleway Font */
@import url("fonts/Raleway/Raleway.css");
/*==================================================
				Variables
==================================================*/
:root
{
	--Antique-Brass-color: #CB997E;
	--Desert-Sand-color: #DDBEA9;
	--Champagne-Pink-color: #FFE8D6;
	--Ash-Gray-color: #B7B7A4;
	--Artichoke-color: #A5A58D;
	--Ebony-color: #6B705C;
	--Text-color: #333333;
}
/*==================================================
				HTML & Body
==================================================*/
*{margin: 0; padding: 0;}
html, body{height: 100%; width: 100%; font-family: "Raleway", sans serif !important; font-weight: 500; color: var(--Text-color) !important; overflow-x: hidden; background-color: var(--Desert-Sand-color);}
label{font-weight: 600;}
input, select{height: 35px !important; padding: auto 0; border-radius: 0.15rem !important;}
table th, table td{text-align: center !important; vertical-align: middle !important;}
/*==================================================
				Preloader
==================================================*/
#preloader{background-color: #FFFFFF; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 9999;}
#status{background-image: url("../img/preloader.gif"); background-repeat: no-repeat; width: 100px; height: 100px; position: absolute; left: 50%; top: 50%; margin-top: -50px; margin-left: -50px;}