body{background: url("../img/background.jpg") no-repeat center center fixed; background-size: cover;}
/*==================================================
				Home Section
==================================================*/
div#home{width: 95%; height: 90%; border-radius: 15px; margin: auto; margin-top: 2.5%; background-color: rgba(255, 255, 255, 0.95); padding: 20px; padding-top: 10px;}
div#home div.uk-card-body,
div#home div.uk-card-footer{padding: 20px !important;}
div#home div.uk-card-header{padding: 0 !important;}
div#home div.uk-card-header h3{font-weight: 700; color: var(--Antique-Brass-color) !important;}
div#home div.uk-card-header h3 span{color: var(--Desert-Sand-color) !important;}
div#home div.uk-card-header div.uk-navbar-left:first-child{margin-right: 0;}
div#home div.uk-card-body img{border-radius: 5px;}
div#home div.uk-card-body div.uk-child-width-1-2{width: 100%;}
div#home div.uk-card-body div.media{padding: 20px !important; margin-top: 15px;}
div#home div.uk-card-body div.media:first-child{width: 40%;}
div#home div.uk-card-body div.media:last-child{width: 60%;}
div#home div.uk-card-header nav a,
div#home div.uk-card-header nav button#signup_nav_btn{font-family: "Raleway", sans serif !important; font-size: 17px; letter-spacing: 1px; text-transform: capitalize;}
div#home div.uk-card-header nav a{color: var(--Artichoke-color);}
div#home div.uk-card-header nav a:focus,
div#home div.uk-card-header nav a:hover,
div#home div.uk-card-header nav a.active{color: var(--Ebony-color);}
div#home div.uk-card-header nav a#seats_nav_btn{margin-right: 40px;}
div#home div.uk-card-body div.media h3{color: var(--Ash-Gray-color) !important; font-size: 55px; font-weight: 600;}
div#home div.uk-card-body div.media input,
div#home div.uk-card-body div.media button{height: 40px !important; margin: 0; text-transform: capitalize;}
div#home div.uk-card-body div.media input{width: 500px;}
div#home div.uk-card-body div.media button{background-color: var(--Ash-Gray-color); color: #FFFFFF;}
div#home div.uk-card-body div.media button:hover,
div#home div.uk-card-body div.media button:focus{background-color: var(--Artichoke-color);}
/*==================================================
				Browse Section
==================================================*/
div#browse{width: 95%; border-radius: 15px; margin: auto; margin-top: 2.5%; background-color: rgba(255, 255, 255, 0.95); padding: 20px; padding-top: 10px;}
div#browse div.uk-card-header h3{color: var(--Ash-Gray-color) !important; font-size: 35px; font-weight: 600;}
div#browse div.uk-card-body ul.uk-slider-items{padding-right: 0;}
div#browse div.uk-card-body ul.uk-slider-items h5{padding-top: 20px;}
div#browse div.uk-card-body ul.uk-slider-items span{margin-top: 10px; font-size: .875rem; line-height: 1.5; color: #666;}
/*==================================================
				Sign Up Section
==================================================*/
div#signup div.uk-modal-dialog{width: 70%; border-radius: 15px;}
div#signup div.uk-modal-header{border-top-right-radius: 15px; border-top-left-radius: 15px;}
div#signup div.uk-modal-footer{border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;}
div#signup div.uk-modal-header h2{font-size: 40px; letter-spacing: 5px; color: var(--Antique-Brass-color) !important;}
div#signup div.uk-modal-body small.uk-article-meta{font-size: 12px;}
div#signup input#signup_password_display{width: 15px; height: 15px; margin-left: 20px; padding: 0;}
div#signup label#signup_password_display_label{font-size: 12px; padding-top: 3px;}
div#signup button#signup_reset_btn,
div#signup button#signup_confirm_btn{width: 100%;}
div#signup button#signup_reset_btn:focus,
div#signup button#signup_reset_btn:hover{background-color: #D3D3D3;}