/*==================================================
				Sign In Section
==================================================*/
div#signin{width: 40%; background-color: rgba(255, 255, 255, 0.95); margin: auto; margin-top: 10%; border-radius: 15px; padding: 20px; padding-top: 10px;}
div#signin div.uk-card-body{padding: 0 15px;}
div#signin div.uk-card-header h2{font-size: 40px; letter-spacing: 5px; color: var(--Artichoke-color) !important;}
div#signin div.uk-card-body small.uk-article-meta{font-size: 12px;}
div#signin input#signin_password_display{width: 15px; height: 15px; margin-left: 25px; padding: 0;}
div#signin label#signin_password_display_label{font-size: 12px; padding-top: 2.25px;}
div#signin button#signin_confirm_btn{background-color: var(--Artichoke-color) !important;}
div#signin button#signin_confirm_btn:focus,
div#signin button#signin_confirm_btn:hover{background-color: var(--Ebony-color) !important;}
div#signin button#signin_confirm_btn{width: 100%;}