/*==================================================
				Hidden Elements
==================================================*/
/* div#add_document, div#edit_document, div#librarians, div#add_librarian, div#users, div#seats, div#configuration, div#history, div#settings{display: none;} */
/*==================================================
				Menu
==================================================*/
nav#menu{margin-top: 0 !important; background-color: rgba(255, 255, 255, 0.95);}
nav#menu h3{font-weight: 700; color: var(--Antique-Brass-color) !important;}
nav#menu h3 span{color: var(--Desert-Sand-color) !important;}
nav#menu li a{color: var(--Artichoke-color); font-family: "Raleway", sans serif !important; font-size: 17px; letter-spacing: 1px; text-transform: capitalize;}
nav#menu li a:focus,
nav#menu li a:hover,
nav#menu li a.active{color: var(--Ebony-color);}
nav#menu li a#contact_nav_btn{margin-right: 40px;}
/*==================================================
				Sections
==================================================*/
div#sections{width: 100%; height: calc(100% - 100px);}
div#sections div.uk-card{width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.95); border-radius: 15px; margin: auto;}
div#sections div.uk-card div.uk-card-header h3{color: var(--Artichoke-color); text-transform: none; font-weight: 500; letter-spacing: 2px; font-size: 25px;}
/*==================================================
				Documents
==================================================*/
div#sections div#documents div.uk-card-body div#categories ul.uk-slider-items p{font-size: 15px;}
div#sections div#documents div.uk-card-body div#categories ul.uk-slider-items img,
div#sections div#documents div.uk-card-body div#categories ul.uk-slider-items p{cursor: pointer;}
div#sections div#documents div.uk-card-body div#categories ul.uk-slider-items span{margin-top: 10px; font-size: .875rem; line-height: 1.5; color: #666;}
div#sections div#documents div.uk-card-body div#browse_categories h3,
div#sections div#documents div.uk-card-body div#browse_latest h3{padding-top: 20px; margin-bottom: 10px !important; font-size: 20px;}
div#sections div#documents div.uk-card-body div#browse_categories small{margin-left: 10px;}
div#sections div#documents div.uk-card-body div#browse_categories ul.uk-slider-items img{cursor: pointer;}
div#sections div#documents div.uk-card-body div#browse_categories ul.uk-slider-items p{font-size: 15px; font-weight: 500;}
div#sections div#documents div.uk-card-body div#browse_categories ul.uk-slider-items p span{font-size: 12px; color: var(--Antique-Brass-color);}