/*==================================================
				Hidden Elements
==================================================*/
div#add_document, div#edit_document, div#librarians, div#add_librarian, div#users, div#seats, div#configuration, div#history, div#settings{display: none;}
/*==================================================
				Menu
==================================================*/
/* Menu */
div#menu{position: fixed; left: 0; top: 0; bottom: 0; overflow-y: auto; width: 300px; background-color: rgba(255, 255, 255, 0.95); border-top-right-radius: 15px; border-bottom-right-radius: 15px; }
div#menu div#menu_logo{margin-top: 10px;}
div#menu div#menu_logo img{width: 50px; height: 50px;}
div#menu div#menu_logo h3{color: var(--Antique-Brass-color); padding-top: 0; margin: 10px 0 5px; font-weight: 600;}
div#menu div#menu_logo h3 span{color: var(--Desert-Sand-color);}
div#menu button{background-color: transparent; font-weight: 600; color: var(--Artichoke-color); font-size: 16px; letter-spacing: 1px; text-transform: none; margin-top: 15px;}
div#menu button:hover, #menu button:focus, #menu button.active{color: var(--Ebony-color);}
div#menu button img{width: 35px; height: 35px; margin-right: 25px; margin-left: 15px; margin-top: -1px;}
div#menu button#librarians_btn img,
div#menu button#configuration_btn img,
div#menu button#settings_btn img,
div#menu button#logout_btn img{width: 30px; height: 30px; margin-right: 30px;}
/*==================================================
				Sections
==================================================*/
div#sections{margin-left: 300px;}
hr{background-image: radial-gradient(closest-side, var(--Desert-Sand-color), hsla(26.3, 100%, 92%, 0.5) 100%); border: none; box-sizing: border-box; height: 2px;}
div#sections div.uk-card{width: 95%; height: 96vh; background-color: rgba(255, 255, 255, 0.95); border-radius: 15px; margin: auto;}
div#sections div.uk-card div.uk-card-header h3.uk-card-title{color: var(--Artichoke-color); text-transform: none; font-weight: 500; letter-spacing: 2px; font-size: 25px;}
div#sections div.uk-card div.uk-card-body{padding: 20px; overflow-y: auto; max-height: 60vh;}
div#sections div.uk-card div.uk-card-header button.icon-btn{background-color: transparent; letter-spacing: 1px; text-transform: none; font-size: 15px !important; font-weight: 600;}
div#sections div.uk-card div.uk-card-header button.icon-btn img{margin-top: -3px; margin-right: 4px !important; margin-left: 4px !important;}
/*==================================================
			Display Section
==================================================*/
div#sections div.uk-card-body table{overflow: hidden;}
div#sections div.uk-card-body table tbody tr{border-top: 1px solid var(--Artichoke-color); border-bottom: 1px solid var(--Artichoke-color);}
div#sections div.uk-card-body table th{padding: 10px 8px; color: var(--Ash-Gray-color); font-weight: 600;}
div#sections div.uk-card-body table td{font-size: 0.75rem; padding: 10px 0;}
div#sections div.uk-card-body table td img.icon{cursor: pointer;}
/*==================================================
				Add Section
==================================================*/
div[id^=add_] div.uk-card-body form[id^=add_]{padding: 0 40px;}
div[id^=add_] div.uk-card-body form[id^=add_] input,
div[id^=add_] div.uk-card-body form[id^=add_] select,
div[id^=add_] div.uk-card-body form[id^=add_] textarea,
div[id^=add_] div.uk-card-body form[id^=add_] span.uk-form-icon{margin-top: 10px; margin-bottom: 5px;}
div[id^=add_] div.uk-card-body form[id^=add_] button[id$=reset_btn]:focus,
div[id^=add_] div.uk-card-body form[id^=add_] button[id$=reset_btn]:hover{background-color: #D3D3D3;}
/*==================================================
			Documents Section
==================================================*/

/*==================================================
			Add Document Section
==================================================*/
div#add_document form#add_document_form div#add_document_placement{margin-top: 20px;}
div#add_document form#add_document_form div#add_document_placement input{margin-top: 3px; margin-left: 20%; margin-right: 5px;}
div#add_document form#add_document_form div#add_document_placement label{font-size: 14px !important; font-weight: 500 !important}
/*==================================================
			Librarians Section
==================================================*/

/*==================================================
			Add Librarian Section
==================================================*/
div#add_librarian form#add_librarian_form div[id$=outer]{margin-top: 30px;}
div#add_librarian form#add_librarian_form div#add_librarian_email_outer{margin-top: 15px;}
div#add_librarian input#add_librarian_password_display{width: 15px; height: 15px; margin-left: 25px; padding: 0;}
div#add_librarian label#add_librarian_password_display_label{font-size: 12px; padding-top: 12.25px;}
/*==================================================
			Users Section
==================================================*/
div#users div.uk-card-header button.active,
div#users div.uk-card-header button:focus,
div#users div.uk-card-header button:hover{color: var(--Antique-Brass-color);}
/*==================================================
			Seats Section
==================================================*/

/*==================================================
			Configuration Section
==================================================*/

/*==================================================
			History Section
==================================================*/

/*==================================================
			Settings Section
==================================================*/
