/*==================================================
				Hidden Elements
==================================================*/

/*==================================================
				Menu
==================================================*/
/* Menu */
#menu{position: fixed; left: 0; top: 0; bottom: 0; overflow-y: auto; width: 300px; background-color: rgba(255, 255, 255, 0.95); border-top-right-radius: 15px; border-bottom-right-radius: 15px; }
#menu-logo{margin-top: 10px;}
#menu-logo img{width: 50px; height: 50px;}
#menu-logo h3{color: var(--Antique-Brass-color); padding-top: 0; margin: 10px 0 5px; font-weight: 600;}
#menu-logo h3 span{color: var(--Desert-Sand-color);}
#menu button{background-color: transparent; font-weight: 600; color: var(--Artichoke-color); font-size: 16px; letter-spacing: 1px; text-transform: none; margin-top: 15px;}
#menu button:hover, #menu button:focus, #menu button.active{color: var(--Ebony-color);}
#menu button img{width: 35px; height: 35px; margin-right: 25px; margin-left: 15px; margin-top: -1px;}
#menu button#settings-btn img,
#menu button#logout-btn img,
#menu button#librarians-btn img{width: 30px; height: 30px;}
/*==================================================
				Sections
==================================================*/
#sections{margin-left: 300px;}